body{
    margin: 0;
    font-family: 'Lato', sans-serif;

    user-zoom: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}
.dilion-background{
    background-image: url('../img/background.png');
    background-repeat: repeat;
}
.dilion-header{
    width: 100vw;
    display: grid;
    grid-template-areas: "left center right"
                         "nav nav nav";
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 100px 40px;

    box-shadow: 0 0 80px 0 black;
}
.dilion-header-img{
    --imgWidth: 75%;
    width: var(--imgWidth);

    margin-top: 10px;
    margin: auto;
    grid-area: left;
}
.dilion-header-right{
    --fontSize: 20pt;
    font-size: var(--fontSize);
    
    margin-top: 10px;
    line-height: 90px;
    text-align: center;
    grid-area: right;
}
.dilion-navbar{
    width: 100%;
    display: flex;

    background: #282828;
    grid-area: nav;
}
.dilion-navbar-item{
    width: 10%;
    height: 40px;
    font-weight: bold;

    text-align: center;
    line-height: 40px;

    color: grey;

    cursor: pointer;
    transition: all .2s;
}
.dilion-navbar-item:hover{
    background: whitesmoke;
    color: #252525;
}
#dilion-slider{
    --elementWidth: 100vw;
    --elementRatio: calc(var(--elementWidth) / 75);
    --elementHeight: calc(var(--elementRatio) * 27);
    width: var(--elementWidth);
    height: var(--elementHeight);
    
    background: transparent;
    margin: auto;
    position: relative;
    overflow: hidden;
}
#dilion-slider-container{
    --elementWidth: 100vw;
    width: calc(var(--elementWidth) * 7);
    display: flex;

    transition: all .3s;
}
.dilion-slider-content{
    --elementWidth: 100vw;
    --elementRatio: calc(var(--elementWidth) / 75);
    --elementHeight: calc(var(--elementRatio) * 27);
    width: var(--elementWidth);
    height: var(--elementHeight);
    margin: 0;
}

#dilion-slider-right-button, #dilion-slider-left-button{
    --elementWidth: 26px;
    --elementHeight: 45px;
    --substract-parent-element-height: calc(100% - var(--elementHeight));
    width: var(--elementWidth);
    height: var(--elementHeight);
    background: #282828;
    opacity: .8;

    position: absolute;
    top: calc(var(--substract-parent-element-height) / 2);
    right: 0;
    z-index: 10;

    cursor: pointer;
}

#dilion-slider-left-button{
    left: 0;
}

#dilion-slider-next-button, #dilion-slider-previous-button{
    --elementWidth: 4px;
    --elementHeight: 20px;
    
    width: var(--elementWidth);
    height: var(--elementHeight);

    position: absolute;
    top: 6px;
    left: 11px;

    color: white;
    opacity: .5;
    background: currentColor;
    transform: rotate(-35deg);
}

#dilion-slider-previous-button{
    transform: scaleX(-1) rotate(-35deg);
}

#dilion-slider-next-button::before, #dilion-slider-previous-button::before{
    --elementWidth: 4px;
    --elementHeight: 20px;
    --substract-height-and-width: calc(var(--elementHeight) - var(--elementWidth));
    
    width: var(--elementWidth);
    height: var(--elementHeight);
    content: "";
    
    position: absolute;
    top: 12px;
    left: calc(var(--substract-height-and-width) / -2);
    
    background: currentColor;
    transform: rotate(-110deg); 
}