body{
    margin: 0;
    font-family: 'Lato', sans-serif;

    user-zoom: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
    overflow-x: hidden;
}
.ui-page-active { 
    outline: none; 
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #a6a6a6;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
.dilion-background{
    background-image: url('../img/background.png');
    background-repeat: repeat;
}
.dilion-header{
    width: 100vw;
    display: grid;
    grid-template-areas: "left center right"
                         "nav nav nav";
    grid-template-columns: calc(65% / 2) 35% calc(65% / 2);
    grid-template-rows: 100px 40px;

    background: whitesmoke;
}
.dilion-header-img{
    height: calc(100% - 29%);
    opacity: .7;

    margin-top: 10px;
    margin: auto;
    grid-area: center;
}
.dilion-header-right{
    --fontSize: 20pt;
    font-size: var(--fontSize);
    
    color: #676767;
    margin-top: 10px;
    line-height: 90px;
    text-align: center;
    grid-area: left;
}
.dilion-navbar{
    width: 100%;
    display: flex;

    grid-area: nav;
}
.dilion-navbar-item{
    width: 10%;
    height: 40px;
    font-weight: bold;

    text-align: center;
    line-height: 40px;
    text-decoration: none;

    color: #676767;

    cursor: pointer;
    transition: all .2s;
}
.dilion-navbar-item:hover{
    color: #282828;
}
#dilion-slider{
    --elementWidth: calc(100vw - 220px);
    --elementRatio: calc(var(--elementWidth) / 75);
    --elementHeight: calc(var(--elementRatio) * 27);
    width: var(--elementWidth);
    height: var(--elementHeight);
    
    background: transparent;
    margin: auto;
    position: relative;
    overflow: hidden;
}
#dilion-slider-container{
    --elementWidth: calc(100vw - 220px);
    width: calc(var(--elementWidth) * 7);
    display: flex;

    transition: all .3s;
}
.dilion-slider-content{
    --elementWidth: calc(100vw - 220px);
    --elementRatio: calc(var(--elementWidth) / 75);
    --elementHeight: calc(var(--elementRatio) * 27);
    width: var(--elementWidth);
    height: var(--elementHeight);
    margin: 0;
}

#dilion-slider-right-button, #dilion-slider-left-button{
    --elementWidth: 26px;
    --elementHeight: 45px;
    --substract-parent-element-height: calc(100% - var(--elementHeight));
    width: var(--elementWidth);
    height: var(--elementHeight);
    background: #282828;
    opacity: .8;

    position: absolute;
    top: calc(var(--substract-parent-element-height) / 2);
    right: 0;
    z-index: 10;

    cursor: pointer;
}

#dilion-slider-left-button{
    left: 0;
}

#dilion-slider-next-button, #dilion-slider-previous-button{
    --elementWidth: 4px;
    --elementHeight: 20px;
    
    width: var(--elementWidth);
    height: var(--elementHeight);

    position: absolute;
    top: 6px;
    left: 11px;

    color: white;
    opacity: .5;
    background: currentColor;
    transform: rotate(-35deg);
}

#dilion-slider-previous-button{
    transform: scaleX(-1) rotate(-35deg);
}

#dilion-slider-next-button::before, #dilion-slider-previous-button::before{
    --elementWidth: 4px;
    --elementHeight: 20px;
    --substract-height-and-width: calc(var(--elementHeight) - var(--elementWidth));
    
    width: var(--elementWidth);
    height: var(--elementHeight);
    content: "";
    
    position: absolute;
    top: 12px;
    left: calc(var(--substract-height-and-width) / -2);
    
    background: currentColor;
    transform: rotate(-110deg); 
}

.dilion-content{
    display: grid;
    grid-template-areas: "header header"
                         "side main";
    grid-template-columns: 200px calc(100vw - 200px);
    grid-template-rows: 140px calc(100% - 140px);
    transition: all .2s;
}

.dilion-profile-content{
    display: grid;
    grid-template-areas: "header"
                         "main";
    grid-template-rows: 140px calc(100% - 140px);
    transition: all .2s;
}

.dilion-main{
    margin-top: 10px;
    grid-area: main;
}

.dilion-sidebar{
    width: 190px;
    font-size: 20px;

    margin: auto;
    margin-top: 20px;
    grid-area: side;
}
.dilion-sidebar-button{
    margin-bottom: 10px;

    color: #676767;
    cursor: pointer;
    transition: all .2s;
}
.dilion-sidebar-button-items{
    height: 0;
    display: block;

    font-size: 16px;
    color: #676767;
    opacity: 0;
    visibility: hidden;
    
    transition: all .2s;
}
.dilion-sidebar-button:hover > .dilion-sidebar-button-items{
    height: 30px;
    line-height: 30px;

    opacity: 1;
    visibility: visible;
}

.dilion-sidebar-button:hover{
    color: #282828;
}

.dilion-sidebar-button-items:hover{
    color: #282828;
}

.dilion-profile-title{
    text-align: center;

    font-size: 84pt;
    color: #313131
}

.dilion-profile-img{
    width: 700px;
    display: block;

    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dilion-profile-img + p.dilion-profile-desc{
    width: 680px;
    font-size: 12pt;
    line-height: 14pt;
    letter-spacing: 1px;
}

.dilion-profile-img + p.dilion-profile-desc + h1.dilion-profile-title{
    text-align: center;

    font-size: 36pt;
    color: #313131
}

.dilion-profile-desc{
    width: 75%;
    margin: auto;
    font-size: 16pt;

    line-height: 20pt;
    letter-spacing: 2px;
    text-align: justify;
    text-align-last: center;
}

.dilion-profile-desc > b{
    color: #e41704
}

.dilion-sidebar > p > *{
    display: block;
    word-break: break-all;
}
.dilion-sidebar > p > b{
    margin-top: 10px;
    font-size: 19px;
}
.dilion-sidebar > p > u{
    font-size: 16px;
}
.dilion-contact{
    width: 90%;

    display: flex;
    margin: auto;
    margin-bottom: 100px;
}
.dilion-contact > div{
    width: 50%;
}
.dilion-contact > div > p > *{
    display: block;
    font-size: 19pt;
}
.dilion-contact > div:nth-child(2) > p > *{
    text-align: center;
}
.dilion-contact > div > p > b{
    font-size: 21pt;
    display: flex;
}
.dilion-contact > div > p > b > img{
    width: 34px;
}
.dilion-contact > div > p > b > *{
    display: block;
    padding-left: 4px;
}